*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0 auto;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-around;
    background-color: orange;
}

.text{
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo{
    background-size: cover;
}


.icon{
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

/*MAIN*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 100% / 6;
    background-size: cover;
    height: auto;
}


/*FOOTER*/

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.text-foot{
    color: white;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-foot :first-child{
    margin-bottom: 10px;
}

.icon-foot{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

.icon-foot p{
    margin-bottom: 10px;
}