*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0 auto;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    padding: 20px;
}

.text{
    color: white;
}

.logo img{
    height: 30px;
}


.icon{
    margin-right: 10px;
    color: white;
}

/*MAIN*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: calc(100% / 3);
    position: relative;
}

.phot{
    max-width: 100%;
}

.spa{
    position: absolute;
    bottom: 20px;
    left: 10px;
}


/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.text-foot{
    color: white;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
}

.text-foot :first-child{
    margin-bottom: 10px;
}

.icon-foot{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  margin-right: 30px;
}

.icon-foot p{
    margin-bottom: 10px;
}